#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.main-card {
  height: 20rem;
  width: 30rem;
}

.main-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}